body{
    padding: 30px;
    background-image: url(./images/wordsbackground.jpg);
    background-size: cover;
    background-position: center;
}
.App{
    background-color: black;
    max-width: 800px;
    margin:  0 auto;
    padding: 20px;
    border-radius: 10px;
}
input{
    width: 100%;
    border-radius: 10px;
    padding: 6px 4px;
    border: 1px solid #ddd;
}
footer{
    margin: 20px;
    color: white;
    text-align: center;
font-family: 'Klee One',
        cursive;
    font-size: 16px;
}
footer a{
    text-decoration: none;
}
@media (max-width:760px) {
    
body{
    padding: 15px;
}
    
    
}