.Dictionary section {
 background-color: white;
 padding: 30px;
 border-radius: 10px;
 margin: 20px;
font-family: 'Klee One',
        cursive;
}
h1{
    color: white;
font-family: 'Monoton',
        cursive;
    text-align: center;
    padding: 10px;
}
.Dictionary .hint{
    font-size: 12px;
    padding: 3px;
}
