.Phonetic {
   margin: 10px ; }



.Phonetic .text {
    opacity: 0.7;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
 
}


@media (max-width:760px) {
.phonetic-audio{
width: 200px;
}

}